@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");

.letters{
    font-family: "Montserrat";
    font-size: 20px;
}
.interface{

    background-color: aquamarine;
    float: right;
    flex: 1;
}
.SeaBattleElem{
    position: relative;
    width: 70%;
    flex:4;
    
}
body{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
.button{
    width: 120px;
    height: 50px;
}
.visibleCell{
    background-color: blue;
}
.infopanel{
    height: 50px;
    width: 150px;
    background-color: gray;
    font-size: large;

}